article {
    overflow: hidden;
}

.secondary-hero .secondary-hero-content {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0px;
}

.secondary-hero .secondary-paragraph-wrapper {
    max-width: max(445px, calc(30.9vw * var(--scale)));
}

.hero-text-content {
    width: 100%;
}

.excerpt-and-authors {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: max(48px, calc(3.33vw * var(--scale)));
    width: 100%;
    margin-top: max(12px, calc(0.83vw * var(--scale)));
}

html[data-primary-font="Thunder"] .excerpt-and-authors {
    margin-top: max(6px, calc(0.42vw * var(--scale)));
}

html[data-primary-font="Thunder"] .secondary-hero .secondary-hero-content,
.secondary-hero .secondary-hero-content {
    gap: 0px;
}

html[data-primary-font="Thunder"] .secondary-hero .secondary-paragraph-wrapper,
.secondary-hero .secondary-paragraph-wrapper {
    margin-bottom: 0px;
}

.post-main-image-wrapper {
    width: 100%;
    margin-top: max(24px, calc(1.66vw * var(--scale)));
}

article[data-post-header-type='Wide Centered'] .secondary-hero .secondary-hero-content,
article[data-post-header-type='Narrow Centered'] .secondary-hero .secondary-hero-content,
article[data-post-header-type='Background Media Centered'] .secondary-hero .secondary-hero-content {
    align-items: center;
    text-align: center;
}

article[data-post-header-type='Wide Centered'] .tags-wrapper,
article[data-post-header-type='Narrow Centered'] .tags-wrapper,
article[data-post-header-type='Background Media Centered'] .tags-wrapper {
    justify-content: center;
}

article[data-post-header-type='Wide Centered'] .excerpt-and-authors,
article[data-post-header-type='Narrow Centered'] .excerpt-and-authors,
article[data-post-header-type='Background Media Centered'] .excerpt-and-authors {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: max(20px, calc(1.39vw * var(--scale)));
}

.narrow-container h1 {
    font-size: max(calc(92px * var(--heading-font-scale)), calc(6.39vw * var(--scale) * var(--heading-font-scale)))
}

.post-content-inner-wrapper {
    margin-top: max(56px, calc(3.89vw * var(--scale)));
    width: 100%;
}

article[data-has-featured-image='false'] .post-content-inner-wrapper {
    margin-top: max(56px, calc(3.89vw * var(--scale)));
}

.post-share-icons {  
    margin-top: max(12px, calc(0.84vw * var(--scale)));  
    position: relative;
}

.post-share-icons .social {
    border: 1px solid var(--text-color);
    width: max(48px, calc(3.33vw * var(--scale)));
    min-width: max(48px, calc(3.33vw * var(--scale)));
    height: max(48px, calc(3.33vw * var(--scale)));
    min-height: max(48px, calc(3.33vw * var(--scale)));
}

.post-share-icons .social-inner {
    width: max(24px, calc(1.67vw * var(--scale)));
    height: max(24px, calc(1.67vw * var(--scale)));
}

.post-share-icons .social-inner-bigger {
    width: max(34px, calc(2.36vw * var(--scale)));
    height: max(34px, calc(2.36vw * var(--scale)));
} 

.social:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

.clipboard-alert {
    display: none;
    position: absolute;
    left: 0;
    bottom: calc(-2.36vw * var(--scale));
}

.article-footer,
.comments-section {
    width: 100%;
}

.comments-section {
    margin-top: max(12px, calc(0.83vw * var(--scale)));
}

.comments-section .subtitle-wrapper {
    margin-bottom: 0px;
}

.related-posts {
    margin-top: max(30px, calc(2.08vw * var(--scale)));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.related-post {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: max(6px, calc(0.42vw * var(--scale)));
    opacity: 0.7;
    transition: opacity .2s ease;
}

.related-post:hover {
    opacity: 1;
}

.related-post p,
.related-post-arrow {
    color: var(--text-color);
}

.related-post-arrow {
    width: max(20px, calc(1.39vw * var(--scale)));
    min-width: max(20px, calc(1.39vw * var(--scale)));
}

.related-post-arrow.rotated {
    transform: rotateZ(180deg);
}

.post-upgrade-cta {
    width: 100%;
    padding: max(116px, calc(8.06vw * var(--scale))) max(98px, 6.81vw) max(98px, calc(6.81vw * var(--scale))) max(98px, 6.81vw);
    text-align: center;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    position: relative;
    z-index: 2;
}

.post-content .post-upgrade-cta h2 {
    text-transform: var(--text-style) !important;
    line-height: calc(100% * var(--heading-font-line-height-scale));
    font-size: max(calc(76px * var(--heading-font-scale)), calc(5.28vw * var(--scale) * var(--heading-font-scale)));
}

.post-upgrade-cta .button {
    line-height: 110%;
    text-decoration: none;
    color: var(--background-color);
}

.post-upgrade-cta-paragraph {
    margin-top: max(16px, calc(1.11vw * var(--scale)));
    margin-bottom: max(33px, 2.29vw);
    max-width: max(546px, calc(37.92vw * var(--scale)));
}

html[data-primary-font="Thunder"] .post-upgrade-cta-paragraph {
    margin-top: 0px;
}

.post-upgrade-cta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-upgrade-cta-paragraph p {
    line-height: 150%;
}

.under-button-wrapper {
    margin-top: max(12px, calc(0.83vw * var(--scale)));
}

.under-button-wrapper p {
    line-height: normal;
}

.under-button-wrapper span {
    opacity: 0.6;
}

.fading-content {
    position: relative;
}

.fading-content:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 35vh;
    background: linear-gradient(transparent, var(--background-color) 93%);
}

.right-aligned-post-content {
    margin-right: 0px;
}

.right-aligned-post-content blockquote,
.right-aligned-post-content .kg-width-wide {
    align-self: flex-end;
    min-width: 1050px;
    width: calc(73vw * var(--scale));
}

.right-aligned-post-content .post-content-inner > h2 {
    position: relative;
    max-width: max(280px, calc(19.44vw * var(--scale)));
    width: max(280px, calc(19.44vw * var(--scale)));
    right: var(--post-container-width, 100vw);
    transform: translateX(calc(100% + max(52px, 3.6vw)));
    align-self: flex-end;
    height: 0px;
    margin-bottom: 0px;
}

.right-aligned-post-content .kg-width-wide {
    max-width: none !important;
}

.right-aligned-post-content .kg-blockquote-alt,
.right-aligned-post-content .post-content-inner > h2 {
    font-style: normal;
    line-height: calc(80% * var(--heading-font-line-height-scale)) !important;
    text-transform: var(--text-style) !important;
    text-align: left;
}

.right-aligned-post-content hr {
    width: calc(var(--post-container-width, 100vw) - max(52px, 3.6vw));
    align-self: flex-end;
}

html[data-primary-font="Thunder"] .right-aligned-post-content .post-content-inner > h2 {
    top: max(12px, calc(0.83vw * var(--scale)));
}

.right-aligned-post-content .narrow-container {
    margin-right: 0px;
}

.right-aligned-post-content .kg-width-full {
    align-self: flex-end;
    right: 0 !important;
    left: max(26px, 1.8vw) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.post-main-image-wrapper video {
    width: 100%;
    height: auto;
}

.post-main-image-wrapper .media-controls {
    display: none !important;
}

.background-image video {
    min-width: 100vw;
    /* width: auto; */
    height: 100%;
    object-fit: cover;
}

.visible-content {
    opacity: 1 !important;
}

.hidden-post-content {
    opacity: 0;
    transition: opacity;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0.4s;
}

article[data-is-post="false"] .post-content-inner {
    border-bottom: none !important;
}

.post-content h1 {
    color: var(--text-color);
}

@media screen and (max-width: 1190px) {
    .right-aligned-post-content {
        margin-right: auto;
    }
    
    .right-aligned-post-content blockquote,
    .right-aligned-post-content .kg-width-wide {
        align-self: flex-start;
        min-width: 100%;
        width: 100%;
    }
    
    .right-aligned-post-content .post-content-inner > h2 {
        position: static;
        max-width: 100%;
        width: auto;
        right: 0;
        transform: translateX(0%);
        align-self: flex-start;
        height: auto;
        margin-bottom: max(18px, calc(1.25vw * var(--scale)));
    }
    
    .right-aligned-post-content .kg-width-wide {
        max-width: 100% !important;
    }

    .right-aligned-post-content .kg-blockquote-alt {
        font-style: italic;
        text-align: center;
    }
    
    .right-aligned-post-content .kg-blockquote-alt,
    .right-aligned-post-content .post-content-inner > h2 {  
        line-height: calc(100% * var(--heading-font-line-height-scale)) !important;
        text-transform: unset !important;    
    }
    
    .right-aligned-post-content hr {
        width: 100%;
        align-self: flex-start;
    }
    
    html[data-primary-font="Thunder"] .right-aligned-post-content .post-content-inner > h2 {
        top: 0px;
    }
    
    .right-aligned-post-content .narrow-container {
        margin-right: auto;
    }
    
    .right-aligned-post-content .kg-width-full {
        align-self: unset;
        left: 50% !important;
        right: 50% !important;
        margin-left: -50vw !important;
        margin-right: -50vw !important;
    }
}

@media screen and (max-width: 1080px) {
    .secondary-hero h1 {
        font-size: calc(78px * var(--heading-font-scale));
    }

    .excerpt-and-authors {
        flex-direction: column;
        gap: 18px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    article[data-post-header-type='Wide Centered'] .excerpt-and-authors,
    article[data-post-header-type='Narrow Centered'] .excerpt-and-authors,
    article[data-post-header-type='Background Media Centered'] .excerpt-and-authors {
        align-items: center;
        justify-content: center;
        gap: 18px;
    }

    .post-main-image-wrapper {
        margin-top: 21px;
    }

    .post-content-inner-wrapper {
        margin-top: max(46px, calc(3.89vw * var(--scale)));
    }

    article[data-has-featured-image='false'] .post-content-inner-wrapper {
        margin-top: 46px;
    }

    .clipboard-alert {
        bottom: -26px;
    }

    .social:hover {
        color: var(--text-color);
        background-color: var(--background-color);
    }

    .related-posts {
        margin-top: 25px;
        gap: 32px;
    }
    
    .related-post {
        gap: 5px;
    }
    
    .related-post:hover {
        opacity: 0.7;
    }
    
    .related-post-arrow {
        width: 18px;
        min-width: 18px;
    }

    .post-upgrade-cta {
        padding: 108px 52px 92px 52px;
    }

    .post-content .post-upgrade-cta h2 {
        font-size: calc(68px * var(--heading-font-scale));
    }

    .post-upgrade-cta-paragraph {
        margin-top: 10px;
    }

    .under-button-wrapper {
        margin-top: 9px;
    }

    .right-aligned-post-content .post-content-inner > h2 {
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 767px) {
    .secondary-hero h1 {
        font-size: calc(52px * var(--heading-font-scale));
    }

    .post-content-inner-wrapper {
        margin-top: max(32px, calc(3.89vw * var(--scale)));
    }

    article[data-has-featured-image='false'] .post-content-inner-wrapper {
        margin-top: 32px;
    }

    .excerpt-and-authors,
    article[data-post-header-type='Wide Centered'] .excerpt-and-authors,
    article[data-post-header-type='Narrow Centered'] .excerpt-and-authors,
    article[data-post-header-type='Background Media Centered'] .excerpt-and-authors  {
        gap: 12px;
    }

    .post-main-image-wrapper {
        margin-top: 19px;
    }

    .post-share-icons .social {
        width: 43px;
        min-width: 43px;
        height: 43px;
        min-height: 43px;
    }
    
    .post-share-icons .social-inner {
        width: 21px;
        height: 21px;
    }
    
    .post-share-icons .social-inner-bigger {
        width: 31px;
        height: 31px;
    } 

    .post-upgrade-cta {
        padding: 76px 26px 62px 26px;
    }

    .post-content .post-upgrade-cta h2 {
        font-size: calc(50px * var(--heading-font-scale));
    }

    .post-upgrade-cta-paragraph {
        margin-top: 7px;
        margin-bottom: 28px;
    }

    .under-button-wrapper {
        margin-top: 7px;
    }
}