<template id="circle-pair-template">
    <div class="circle-pair">
            <div class="circle-element"> 
                <figure>         
                </figure>  
            </div>

        <div class="circle-element content">
            <div class="medium-text card-text">
            </div>

            <i>
                <p class="paragraph smaller five-lines">
                </p>
            </i>
        </div>
    </div>
</template>