<custom-socials class="socials">
    <a href="https://www.instagram.com/thebreaksales/" target="_blank" class="social" aria-label="Instagram">
        <div class="social-inner">
            {{> "icons/instagram-icon"}}
        </div>
    </a>
</custom-socials>