<div class="footer-bottom">
    <div class="socials">
        {{> "components/custom-socials"}}
    </div>

    <div class="copyright-text-wrapper">
        <div class="copyright-border"></div>
        <p class="paragraph light">
            &copy;&nbsp;{{date format="YYYY"}}&nbsp;<a class="hover-underline" href="{{@site.url}}">{{@site.title}}</a>&nbsp;|&nbsp;Built by <a class="hover-underline" href="https://github.com/unclebike" target="_blank">Uncle Bike</a>
        </p>
    </div>

    <div class="return-button-wrapper">
        <button class="unstyled-button social return-button" aria-label="Return to top">
            <div class="social-inner">
                {{> "icons/small-arrow-icon"}}
            </div>
        </button>
    </div>
</div>