<div class="footer-overlay">
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div> 
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>  
    <div class="footer-overlay-piece">
        <div class="footer-overlay-piece-inner"></div>
    </div>     
</div>